<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/code_styles.css">
    <title>Referal</title>
</head>
<div class="login-box">
    <h2>Enter code</h2>
    <form>
      <span></span>
      <div class="user-box">
        <input type="text" name="SMScode" required="">
        <label>Code</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
      <a href="/">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Back
      </a>
    </form>
  </div>
</html>