<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles_prof.css">
    <title>Referal</title>
</head>

<div class="card-container">
    <span class="pro">PRO</span>
    <img class="round" src="https://pp.userapi.com/c639718/v639718128/f970/qJHTgDwBlZ4.jpg" alt="user" width="70%" height="270px"/>
    <h3>Username</h3>
    <h6>Phone</h6>
    <p>User discription<br/> here</p>
    <div class="buttons">
      <button class="primary">
        Invite code
      </button>
      <button class="primary ghost">
        Get phones
      </button>
    </div>
    <div class="skills">
      <h6>Skills</h6>
      <ul>
        <li>Django</li>
        <li>Python</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>SQL</li>
      </ul>
    </div>
  </div>


</html>