<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <title>Referal</title>
</head>
<div class="login-box">
    <h2>Login</h2>
    <form method="POST" action="{% url 'code' %}">
      {% csrf_token %}
      <span></span>
      <div class="user-box">
        <input type="text" name="num" required="">
        <label>Phone</label>
        <p class="wrong">{{format}}</p>
      </div>
      <button type="submit">
        SEND CODE
      </button>
    </form>
  </div>
</html>